---
import AdminCmsShell from '../../components/AdminCmsShell.astro';
---

<AdminCmsShell title="Quarantine" description="Private content quarantine review" canonicalPath="/admin/quarantine/" view="quarantine">
  <section class="admin-panel"><div id="admin-quarantine-list">Loading quarantined items...</div></section>
</AdminCmsShell>
